/.phpunit.cache
/back_end/node_modules/
/front_end/node_modules/

/public/build
/public/hot
/back_end/public/storage/
/front_end/public/storage/
/storage/*.key
/back_end/vendor/
/front_end/vendor/

/back_end/.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
